.container {
  width: 75%;
  margin: auto;
  text-align: center;
}

.player {
  display: inline-block;
  align-items: center;
}
h1 {
  color: #4ecca3;
  font-family: "Lobster", cursive;
  font-size: 8rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

p {
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
  font-size: 2rem;
}

body {
  background-color: #393e46;
}

footer {
  font-family: "Indie Flower", cursive;
  text-align: center;
  color: white;
  margin-top: 75px;
}

img {
  margin: 0px;
  padding: 0px;
}

button {
  padding: 0px 20px;
  margin: 0px;
  border: 0px;
  background-color: #393e46;
}
